* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #e4e7ed;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
input,
textarea,
body {
    font-family: "Noto Sans", sans-serif;
}

.container {
    width: 500px;
    display: flex;
    flex-direction: column;
    background: #f3f5f9;
    margin: 0 auto;
    border-radius: 20px;
    padding-bottom: 25px;
    box-shadow: rgba(153, 157, 166, 0.4) 0px 7px 29px 0px;
}

.title {
    color: #b8c0cf;
    font-size: 70px;
    font-weight: 100;
    text-align: center;
}

@media screen and (max-width: 520px) {
    .container {
        width: 100%;
        padding-bottom: 10px;
    }
    .title {
        font-size: 60px;
    }
}